.super-mario{
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 2;
    
}

.word{
    position: absolute;
    z-index: 4;
    left: 100px;
    top: 2900px;
}

.baloon{
    position: absolute;
    z-index: 3;
    top: 2850px;
   right: 950px;
}

.bowser{
    position: absolute;
    z-index: 5;
    top: 2900px;
    right: 200px;

}

.goomba{
    position: absolute;
    z-index: 1;
    top: 1300px;
}