h1{
    font-family: sans-serif;
    width: 65px;
    color:lime;
}
ul{ 
    background-color: orchid;
  }

p{
    font-weight: 600px;
    font-size: 3em;
}
body{ 
    font: size 16px;;
}
li{
    font-style: italic;
    line-height: 20px;
    text-align: left;
    text-decoration: lime;
}

#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}